[
  {aegis_router, [
    {listen_port, 8443},
    {max_connections, 100000},
    {heartbeat_interval, 30000},
    
    %% TLS configuration (mTLS required)
    {tls, [
      {certfile, "certs/server.crt"},
      {keyfile, "certs/server.key"},
      {cacertfile, "certs/ca.crt"},
      {verify, verify_peer},
      {fail_if_no_peer_cert, true}
    ]},
    
    %% Message routing
    {offline_queue_ttl, 604800},      %% 7 days in seconds
    {max_message_size, 104857600},    %% 100 MB
    
    %% Security
    {rate_limit_per_device, 100},     %% Messages per second
    {session_timeout, 3600000}        %% 1 hour in ms
  ]}
].
